body{
    color:ghostwhite;
    background-color: black; 
}
.bigcontainer{
    display:flex;
    flex-direction: row;
}
.header{
    border:dotted gold 10px;
    align-self: center; 
    width: 30%;
    height:300px;
 
}

 .imagecontainer{
    margin-left:5%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
    align-items:flex-start;
}

img{
    
    padding:10px;  
}

@media (max-width:639px) {
    /*mobile version:*/
   body{
       /* height:100%; */
   }
   .bigcontainer{
       /* display:flex;
       flex-direction:row;
       flex-wrap:wrap; */
    }
    .header {
        /* width:100%; */
        
    } 
    .imagecontainer{
        /* width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: center; */
    }
    img{
        /* display:flex;
        flex-wrap: wrap;
        width:200px; */
        }

}


@media screen and (min-width:640px) {
    /*desktop*/
    .header{
        /* width:15%; */

    }
}
.bigcontainer {
    /* display: flex; */
}

body{
    /* color:ghostwhite;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 800px; */
}
.header{
    /* display: flex;
    border:dotted gold 10px;
    justify-content:center;
    align-items:center;
    align-self: center;
    flex-direction:column;
    width: 20%;
    height: 20%; */
}

 .imagecontainer{
    /* display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items:center;
    width: 80% */
    }
img{
    /* margin-left:5%;
    width: 35%;
    display:flex;
    flex-wrap:wrap;
    padding:2px;  */

}

@media (max-width:639x) {
    /*mobile version:*/
   body{
       /* height:100%; */
   }
   .bigcontainer{
       /* display:flex;
       flex-direction:row;
       flex-wrap:wrap; */
    }
    .header {
        /* width:100%; */
        
    } 
    .imagecontainer{
        /* width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: center; */
    }
    img{
        /* display:flex;
        flex-wrap: wrap;
        width:200px; */
        }

}


@media screen and (min-width:640px) {
    /*desktop*/
    .header{
        /* width:15%; */

    }
}
.bigcontainer {
    /* display: flex; */
}

