body {
    background-color:black;
    color:ghostwhite;
}
.header{
    width:100%;
    border: 4px yellow dashed;

}
H
.bigcontainer{
    display:flex;
    flex-direction: column;
    /* height:600px; */
}
.imagecontainer{
    margin-left:5%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
    align-items:center;

}
img{
    padding: 10px;
}
@media screen and (min-width:640px) {
    /*desktop*/
    .bigcontainer{
        display:flex;
        flex-direction: row;

    }
    
    .header{
        width:15%;
        align-content:flex-start;
        justify-content:center;
        align-self: flex-start; 
        width: 30%;
        height:300px;
    }
}